<div class="playlist-section">
  <h3>Tu Playlist (Local)</h3>
  <div class="playlist">
    <div 
      class="playlist-item" 
      *ngFor="let track of playlist; let i = index"
      
      [class.active]="track === currentTrack"
      
      (click)="playTrack(i)">

      <div>{{ i + 1 }}</div>
      
      <img [src]="track.caratula" alt="Carátula">
      
      <div class="item-info">
        <div>{{ track.song_name }}</div>
        <div>{{ track.artist_name }}</div>
      </div>
      
      </div>
  </div>
</div>